
body { text-align: left; letter-spacing: normal; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

body,p,h1,h2,h3,h4 { margin:0px 0px 0px 0px;  padding: 0px 0px 0px 0px; }

.required {
	background-color: #ffff9b;
}
.error {
	background-color: #ffa6a6;
}

label.indent, div.indent {
	float: left;
	width: 150px;
	clear: both;
	font-size: 12px;
	line-height: normal;
	margin: 2px 2px 2px 0;
}

#adminbar {
	position: absolute;
	z-index: 1000;
	padding: 2px 5px 0 5px;
	text-align: center;
	background-color: #ffe900;
	font-size: 12px;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	color: #000;
}
body>#adminbar {
	position: fixed;
}
#adminbar a {
	font-size: 12px;
	font-weight: bold;
	color: black;
}
#adminlinkspacer {
	height: 19px;
}
#draftlink {
	position: absolute;
	z-index: 1001;
	padding: 2px 5px 0 5px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	top: 0;
	left: 0;
	height: 20px;
	color: #000;
	background-color: #ffe900;
}
body>#draftlink {
	position: fixed;
}

#adminshowbutton, #adminhidebutton {
	position: absolute;
	z-index: 1001;
	padding: 2px 5px 0 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	top: 0;
	right: 0;
	height: 20px;
	color: #000;
	background-color: #ffe900;
	cursor: pointer;
}
body>#adminshowbutton, body>#adminhidebutton {
	position: fixed;
}
#adminhidebutton {
	z-index: 1001;
}

.error_feedback {
	font-size: 12px;
}
.error_feedback li {
	color: #920003;
	list-style-image: url("/images/error-cross.jpg");
	list-style-type: square;
	padding: 0px 0px 5px 0px;
}

a img { border-width: 0px; }

form{ padding:0px 0px 0px 5px; margin: 0px 0px 0px 0px; }

span.hilite { background-color: #dd0; color: #000; font-weight: bold; }

input.short { width:10em; border: 1px solid #C1C9D0;}
input.long { width:20em; border: 1px solid #C1C9D0; }
input.verylong { width:30em; border: 1px solid #C1C9D0; }
input.veryshort { width:6em; border: 1px solid #C1C9D0; }
input.veryveryshort { width:4em; border: 1px solid #C1C9D0; }
input.vvvshort { width: 2em; border: 1px solid #C1C9D0; }
input.border { border: 1px solid #C1C9D0; }

textarea.long {width:15em; border: 1px solid #C1C9D0; height: 8em;}

