@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e2f6fb), to(#d7f6ff));
  background-image: linear-gradient(to right bottom, #e2f6fb, #d7f6ff);
  background-repeat: no-repeat;
  color: #111;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15rem auto 0rem auto;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 3rem;
  -webkit-box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
  width: 45rem;
}

.card {
  margin-top: -35%;
  width: 42rem;
  height: 26.55rem;
  font-family: 'Source Code Pro', monospace;
  color: #eee;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card__side {
  background: #f6292c;
  background: linear-gradient(225deg, #f6292c 0%, #f6292c 0%, #ff5563 47%, #f6292c 100%);
  border-radius: 1.5rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__logo {
  margin-left: auto;
  padding: .8rem;
}

.card__logo-img {
  height: 3rem;
}

.card__contactless {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.5rem;
  margin-top: 2.5rem;
}

.card__contactless-img {
  height: 3.8rem;
  margin-right: 2rem;
}

.card__cell-image {
  height: 6rem;
  width: 7rem;
  margin-right: 2rem;
}

.card__number {
  font-size: 2.5rem;
  letter-spacing: .5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Share Tech Mono', monospace;
}

.card__number-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__lower-third {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3rem;
}

.card__holder-name {
  max-width: 17.5rem;
  overflow: hidden;
}

.card__holder-name, .card__expiry-date {
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: .2rem;
}

.card__expiry {
  margin-left: auto;
}

.card__mastercard-img {
  height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card__scan-bar {
  background-color: #000;
  width: 100%;
  height: 6rem;
  margin-top: 3rem;
}

.card__cvv {
  background-color: #fff;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
}

.card__cvv-label {
  margin: 1rem 2rem 0rem 1rem;
  text-align: right;
  color: #000;
}

.card__cvv-input {
  margin-left: auto;
  width: 4rem;
  border: none;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card__cvv-input:focus {
  outline: none;
}

.btn, .btn:link, .btn:visited {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #ff5e61;
  border: none;
  height: 5rem;
  border-radius: .5rem;
  font-size: 2rem;
  margin-top: 1rem;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn:hover::after, .btn:focus::after {
  background-color: #fff;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__control {
  position: relative;
}

.form__control--cvv {
  width: 30%;
  margin-left: auto;
}

.form label {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
}

.form__text-input, .form__select-input {
  height: 5rem;
  border-radius: .5rem;
  border: 1px solid #ddd;
  margin-bottom: 2.5rem;
  padding: 1.5rem;
}

.form__text-input:focus, .form__select-input:focus {
  outline: none;
  border: 1px solid #56c1ff;
}

.form__text-input--success, .form__select-input--success {
  border: 1px solid #78ff56;
}

.form__text-input--failure, .form__select-input--failure {
  border: 1px solid #ff5656;
}

.form__text-input--number, .form__select-input--number {
  letter-spacing: .3rem;
}

.form__text-input--cvv, .form__select-input--cvv {
  letter-spacing: .5rem;
}

.form__text-input::-webkit-input-placeholder, .form__select-input::-webkit-input-placeholder {
  letter-spacing: 0rem;
}

.form__text-input ::-moz-placeholder, .form__select-input ::-moz-placeholder {
  /* Firefox 19+ */
  letter-spacing: 0rem;
}

.form__text-input :-ms-input-placeholder, .form__select-input :-ms-input-placeholder {
  /* IE 10+ */
  letter-spacing: 0rem;
}

.form__text-input :-moz-placeholder, .form__select-input :-moz-placeholder {
  /* Firefox 18- */
  letter-spacing: 0rem;
}

.form__card-error {
  position: absolute;
  top: 7rem;
  left: 0;
  display: block;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.1;
  margin-top: .2rem;
}

.form__text-input {
  width: 100%;
}

.form__select-input {
  width: 12rem;
}

.form__select-input:last-of-type {
  margin-left: .75rem;
}

.form__lower {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */